.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar{
  /* position: fixed; */
  /* width: 100% !important; */
  /* height: 70px; */
  /* background-color: #FFFFFF !important; */
}

.navbar-brand{
  color: #000 !important;
}

.navbar a{
  color: #686d72 !important;
}

.navbar a:hover{
  color: #000000 !important;
}


.fa-brands:hover{
  transform: scale(1.3) !important;
  transition: transform 0.2s ease-in !important;
}


.fa-regular:hover{
  transform: scale(1.3) !important;
  transition: transform 0.2s ease-in !important;
}

.intro{
  margin-top: 23px !important;
}

.tech{
  /* margin-left: 50% !important; */
}

.contact__text ,  a{
  color: #cad1d8 !important;
  text-decoration: none !important;

}

.banner{
  border-radius: 50%;
  border: 2px solid rgb(9, 36, 63) !important;
  height: 500px;
}

.pic{
  border-radius: 10% !important;
  height: 350px;
  /* width: 70% !important;  */
  /* padding: 4px;   */
}
.MERN{
  margin-top: 5%;
}

.footerlinks{
  list-style: none !important;
 }
 .footerlinks ,a  :hover{
color: rgb(153, 218, 23);
 }


 
/* ////////// */



@media (max-width: 576px) {
  .banner{
    width: 100%;
    height: 300px;
  }
  .pic{
    width: 100%;
  }
  .tech{
    text-align: center;

    /* justify-content: center; */
  }

.card {
  width: 100% !important;
}
.card img {
  width: 100% !important;
  height: auto !important;
}
.contact__info{
  margin-top: 14%;
}
.contacts{
  font-size: small;
  margin-left: 5%;
}
.me{
  font-size: small;
}



/* #viewbtn{
  margin-top: 0%;
} */
}

@media (max-width: 577px) and (max-width : 992px) {
  #viewbtn{
   margin-top: 4%;
   margin-right: 10%;
  }
  
}


@media (max-width: 800px) and (max-width : 1280px) {
  .banner{
    width: 100%;
  }
  .pic{
    width: 100%;
  }
  .tech{
    text-align: center;

    /* justify-content: center; */
  }

.card {
  width: 100% !important;
}
.card img {
  width: 100% !important;
  height: auto !important;
}
.contact__info{
  margin-top: 10%;
}
}